html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(176, 176, 228, 0.77);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container {
  height: 60%;
  width: 80%;
  padding: 50px;
  background-color: rgb(214, 190, 194);
  border-radius: 20px;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.input-container input {
  border: none;
  width: calc(100% - 80px);
  height: 35px;
  outline-color: white;
}

.input-container button {
  height: 35px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(197, 78, 78);
}

.todo-list {
  list-style-type: none;
}

.todo-list-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.todo-list-item button {
  border: none;
  border-radius: 3px;
  background-color: rgb(161, 161, 79);
  cursor: pointer;
}
